<% if current_user %>

	<h1>Checkout</h1>

	<table class="table table-striped">
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>

		<% if @carted_products %>
		
		<% @carted_products.each do |carted_product| %>
			<tr>
				<td><%= carted_product.product.name %></td>
				<td><%= carted_product.quantity %></td>
				<td><%= number_to_currency(carted_product.price) %></td>


			</tr>
		<% end %>
	</table>

	<h1>Total : <%= number_to_currency(@order.total_price) %> </h1>


	<%= form_for @order do |f| %>

		<%= f.submit "Complete Checkout" %>

	<% end %>
	<% end %>

<% else %>
	<h1>Your Cart is Empty :| </h1>

<% end %>




