<%= form_tag 'products' do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    </br>

    <%= label_tag :description %>
    <%= text_field_tag :description %>
    </br>
    <%= label_tag :price %>
    <%= text_field_tag :price %>
    </br>
  </div> 
  
  <div>
  	<%= submit_tag 'Save Product' %>
  </div>

<% end %>
