<h1> <%= @product.name %> </h1>
<% if @product.vendor %>
	<h2> <%= @product.vendor.name %> </h2>
<% end %>
<h2><%= @product.description %></h>

<% if @product.product_options %>
<h3>Options :</h3>
<ul>
	<% @product.product_options.each do |product_option| %>
	<li><%= product_option.name %></li>
	<% end %>
</ul>
<% end %>
<h4><%= @product.sale_price %></h4>
<h3><%= @product.friendly_price %> </h>
<h5><%= @product.sales_tax %></h5>
<img src="<%= @product.photo %>" height="200" width="200" />
<p><a href="/products/<%= @product.id %>/edit">

<% if (@current_user) && (@current_user.admin == true) %>
  	<p>Edit Item</p></a>
  	</br>
	</br>
	</br>
<% end %>

<% if user_signed_in? %>

	<%= form_for @carted_product do |f| %>
	
		<%= f.label :quantity %>
		<%= f.text_field :quantity %>
		<%= f.hidden_field :product_id, value: @product.id %>

		<%= f.submit "Add to Cart" %>

	<% end %>

<% else %>

	<a href='/users/sign_in'>Please Sign In To Add to Cart</a>

<% end %>
</br>
</br>

<a href="/">Go home</a>
