<h1> <%= @product.name %> </h1>
<h2><%= @product.description %></h>
<h3>$<%= @product.price %> </h>
<img src="<%= @product.photo %>" height="200" width="200" />
<p><a href="/products/<%= @product.id %>/edit">
  	<p>Edit Item</p></a>
  	</br>
</br>
</br>

<a href="/">Go home</a>
